/* The Modal) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #51684D;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #162929;
    color: #39aeff;
}
.modal-body {
    height: 600px;
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #162929;
    color: white;
}

.message{
    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    border: 1px solid;
    color: #000000;
    padding: 15px;
    /*position: fixed;*/
    position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    animation: popup 5s linear infinite;
}
.warning{
    background-color: #eaaf51;
    border-color: #d99a36;
}
.success{
    background-color: #61b832;
    border-color: #55a12c;
}
@keyframes popup {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
.animate{
    animation-duration: .1s;
    animation-name: spin;
    animation-iteration-count: infinite;
}
#alert img{
    position: absolute;
    right: 5%;
}
#crowd img{
    position: absolute;
    width: 90%;
    top: -300px;

}
#crowd2 img{
    position: absolute;
    width: 90%;
    top: -75px;

}
#crowd2{
    position: relative;
    top: 400px;
    transform: scale(1.5, 1.5);
}
#crowd {
    left: 200px;
    top: -25px;
    transform: scaleX(-1);
    position: relative;
}

#backc{
    animation: spin .75s ease-in infinite;

}
#frontc{
    animation: spin .5s ease-out infinite;
}

@keyframes spin{
    0%{transform: rotate(0deg);top:0px;}
    50%{transform:rotate(1deg);top:20px;}
    100%{transform:rotate(0deg);top:0px;}
}
.lights{
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(130,46,119,0.24) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    width: 100%;
    color: #000000;
    padding: 15px;
    /*position: fixed;*/
    position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    animation: lights 3s linear infinite alternate;
}
@keyframes lights {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 880px 0;
    }
}

.target{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: green;
}
.aimer{
    position: absolute;
    display: inline-block;
    border: 2px solid orange;
    width: 50px;
    height: 50px;
    animation: move .5s linear 0s infinite alternate;
}
.backboard{
    position: relative;
    width: 300px;
    height: 50px;

}
@keyframes move {
    9% {left:0px;} 100% {left:400px;}
}


#hoopNet{
    position:relative;
    left:45%;
    width:7%;
    top:10%;
    height:10%;


}

#rim{
    position:absolute;
    width:100%;
    height:100%;
}

#net{
    position:absolute;
    width:100%;
    height:100%;
    left:2.5%;
    top:65%;

    animation-name:net;
    animation-duration:2.5s;
    animation-timing-function:linear;
}

#playingBall{
    position:relative;
    top:70%;
    left:45%;
    width:10%;
    height:auto;
}
#ball {
    width:100%;
    height:auto;
    border-radius:50%;
    position:relative;


    /*animation-name: shoot;*/
    /*animation-duration:2.5s;*/
    /*animation-timing-function:linear;*/
}

/* made basket animation*/
.swish{
    animation-name: score;
    animation-duration:2.5s;
    animation-timing-function:linear;
}

/* tooFar basket animation*/
.tooFar{
    animation-name: long;
    animation-duration:2.5s;
    animation-timing-function:linear;
}

/* tooShort basket animation*/
.tooShort{
    animation-name: short;
    animation-duration:2.5s;
    animation-timing-function:linear;
}

/* button*/
/*#shoot{*/
/*position:absolute;*/
/*}*/

/*Keyframes for the 3 different scenarios */
@keyframes score {
    0%{
        top:70%;
    }
    80% {
        top: 0%;
        width: 2%;
        height: auto;
        left:47%;
    }
    100% {
        top: 5%;
        width: 2%;
        height: auto;
        left:47.5%;
    }
}
@keyframes long {
    0%{
        top:70%;
    }
    80% {
        top: -10%;
        width: 2%;
        height: auto;
        left:47%;
    }
    100% {
        top: -5%;
        width: 2%;
        height: auto;
        left:47.5%;
    }
}

@keyframes short {
    0%{
        top:70%;
    }
    80% {
        top: 10%;
        width: 2%;
        height: auto;
        left:47%;
    }
    100% {
        top: 15%;
        width: 2%;
        height: auto;
        left:47.5%;
    }
}

.gamebtn {
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fffb1d;
    background-color: #8e04af;
    border: none;
    border-radius: 15px;
}

.gamebtn:hover {
    background-color: #af6944;
}

.gamebtn:active {
    background-color: #8e04af;
    transform: translateY(4px);
}