/*Main Game and Stats Styling*/

body {
    box-sizing: border-box;
    background: url("Images/hardwood.jpg");
    background-size: cover;
}
@font-face {
    font-family: scoreboard;
    src: url(Images/scoreboard.ttf);
}

header {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, .3);
    font-size: 16px;
    color: white;
    padding:.1%;
    text-align: center;
    font-family:scoreboard;
}

#stats-container{
    text-transform: uppercase;
}
.away{
    float: right;
    font-size: 3vmax;
}
.home{
    float: left;
    font-size: 3vmax;
}
.logo{
    width: 200px;
    height: 200px;
}
.logo img{
    max-width:100%;
    max-height: 100%;
}
.current_team{
    color:yellow;
}

.board{
    width: 800px;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    align-items: center;
}
.box{
    text-align: center;
    font-size: 80px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    border-radius: 20px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.box img{
    max-width:80%;
}
.backboard{
    background-size: contain;
    background-image: url(Images/hoop.png);
}
.gamebtn {
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fffb1d;
    background-color: #022842;
    border: none;
    border-radius: 15px;
}

.gamebtn:hover {
    background-color: #af6944;
}

.gamebtn:active {
    background-color: #8e04af;
    transform: translateY(4px);
}